.img_logo
{
	position : absolute;
	width : 80%;
	height : 35%;
	left : 10%;
	top : 10%;
}
#div_pre_login
{
	position : absolute;
	width : 60%;
	height : auto;
	left : 20%;
	bottom : 10%;
}

#div_login
{
	position : absolute;
	width : 60%;
	height : auto;
	left : 20%;
	bottom : 10%;
}