.img_logo
{
	position : absolute;
	width : 80%;
	height : 35%;
	left : 10%;
	top : 10%;
}
#div_pre_login
{
	position : absolute;
	width : 100%;
	height : 15%;
	bottom : 10%;
}
.btn_login
{
	position : absolute;
	left : 20%;
	width : 60%;
	height : 100%;
	font-size : 40px;
	border-radius: 30px;
}
#div_login
{
	position : absolute;
	width : 100%;
	height : 30%;
	bottom : 10%;
}
.tf_id
{
	position : absolute;
	width : 80%;
	left : 10%;
	height : 25%;
	font-size : 20px;
}
.tf_password
{
	position : absolute;
	width : 80%;
	left : 10%;
	height : 25%;
	top : 33%;
	font-size : 20px;
}
.btn_submit
{
	position : absolute;
	width : 80%;
	left : 10%;
	height : 30%;
	top : 66%;
	font-size : 25px;
}